#h-Conteudo
{
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(41, 40, 49);
}
#hc-Logo
{
    width: 5%;
}
#hc-Nav
{
    width: 80%;
    display: flex;
}
#hc-Login
{
    width: 15%;
    display: flex;
}

#hcb-Home
{
    margin-right: 10px;
}
#hcb-Jogos, #hcl-Button, #hcb-Home
{
    height: 40px;
    align-self: center;
}
#hcn-Jogos button , #hcn-Home , #hcn-Como button
{
    background-color: rgb(41, 40, 49);
    border-color: rgb(41, 40, 49);
    
}
#hcn-Jogos button:focus, #hcn-Home:focus, #hcn-Como button:focus
{
    box-shadow: none;
}
#hcl-Button
{
    background-color: rgb(175, 0, 0);
    border: black
}
#hcl-Button:focus
{
    box-shadow: 0 0 0 0.2em black;
}