<header>
    <div id="h-Conteudo">
        <div id="hc-Logo">
            <img src="" alt="">
        </div>
        <nav id="hc-Busca">
            <button id="hcb-Home" type="button" class="btn btn-primary" routerLink="home">
                Home
            </button>
            <div id="hcb-Jogos" class="btn-group" dropdown>
                <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                        aria-controls="dropdown-basic">
                  Jogos <span class="caret"></span>
                </button>
                <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                    role="menu" aria-labelledby="button-basic">
                    <li role="menuitem"><a class="dropdown-item" href="#">Poker</a></li>
                    <li role="menuitem"><a class="dropdown-item" href="#">Roleta</a></li>
                    <li role="menuitem"><a class="dropdown-item" href="#">BlackJack</a></li>
                    <li role="menuitem"><a class="dropdown-item" href="#">Slots</a></li>
                </ul>
            </div>
            
        </nav>
        <div id="hc-Login">
            <button id="hcl-Button" type="button" class="btn btn-primary" routerLink="login">
                Sign In / Sign Up
            </button>
        </div>
    </div>
</header>