<div id="c-Content">
    <div id="cc-Form">
        <h1>Crie Sua Conta</h1>
        <label for="Username"><b>Nome de Usuario</b><br>
            <input id="Username" type="text" placeholder="Usuario">
        </label>
        <label for="Password"><b>Senha</b><br>
            <input id="Password" type="password" placeholder="******">
        </label>
        <label for="cPassword"><b>Confirme a Senha</b><br>
            <input id="cPassword" type="password" placeholder="******">
        </label>
        <label for="Email"><b>Email</b><br>
            <input id="Email" type="email" placeholder="exemplo@ex.br">
        </label>
        <button id="ccf-Confirmar" type="button" class="btn btn-primary" routerLink="/home">
            Confirmar Cadastro
        </button>
    </div>
</div>