#hm-Content
{
    height: 760px;
    background-image: url('../../../assets/imgs/Home 2.jpg');
    background-size: cover;
}
#hmc-Carousel
{
    width: 550px;
    height: 310px;
    margin: 20px auto 0 auto;
    border-radius: 15px;
    box-shadow: 0 0 5px 1px black;
}
#hmc-Carousel img
{
    width: 100%;
    border-radius: 15px;
    height: 310px;
}
#hmcc-Slide1
{
    color: black;
    margin-top: 15px;
    width: 110px;
}
#hmc-Cards
{
    width: 90%;
    margin: 25px auto;
    display: flex;
    justify-content: space-around;
}
#hmcc-Poker, #hmcc-Slots, #hmcc-Roleta
{
    border-radius: 15px;
    width: 30%;
    height: 340px;
    background-color: white;
    box-shadow: 0 0 5px 1px black;
}
.hmcc-Inside
{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
.hmcci-Top
{
    padding: 5px;
    height: 9.5em;
    border-radius: 15px 15px 0px 0px;
}
.hmcci-Center
{
    height: 5.5em;
    border-radius: 0;
}
.hmcci-Bottom
{
    height: 2.6em;
    border-radius: 0 0 15px 15px;
}
.hmcci-Bottom button
{
    display: block;
    margin: 0 auto;
}
.hmcc-Inside img
{
    width: 150px;
    height: 100%;
    display: block;
    margin: auto;
    border-radius: 10px;
}
