<div id="hm-Content">
    <div id="hmc-Carousel">
        <carousel>
            <slide>
              <img src="assets/imgs/illidan.png" alt="first slide" style="display: block;">
              <div class="carousel-caption d-none d-md-block">
                <h3>Regras</h3>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
              </div>
            </slide>
            <slide>
              <img src="assets/imgs/illidan.png" alt="second slide" style="display: block;">
              <div class="carousel-caption d-none d-md-block">
                <h3>Second slide label</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </div>
            </slide>
            <slide>
              <img src="assets/imgs/illidan.png" alt="third slide" style="display: block;">
              <div class="carousel-caption d-none d-md-block">
                <h3>Third slide label</h3>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
              </div>
            </slide>
          </carousel>
    </div>
    <div id="hmc-Cards">
        <div id="hmc-Poker">

        </div>
        <div id="hmc-Slots">

        </div>
        <div id="hmc-Roleta">

        </div>
    </div>
</div>
