<div id="hm-Content">
    <h2 style="text-align: center; color:white">Ultimos Avisos</h2>
    <div id="hmc-Carousel">
        <carousel>
            <slide>
                <img src="assets/imgs/Home 1.jpg" alt="first slide" style="display: block;">
                <a>
                    <div class="carousel-caption d-none d-md-block">
                        <h3>Bonus</h3>
                        <p>Cadastre-se Agora para adquirir 1500 moedas extras.</p>
                    </div>
                </a>
            </slide>
            <slide>
                <img src="assets/imgs/Home 4.jpg" alt="second slide" style="display: block;">
                <div id="hmcc-Slide1" class="carousel-caption d-none d-md-block">
                    <h3>Venha!</h3>
                    <p>Nós Queremos <b>VOCÊ</b> para ser o próximo desafiante do nosso Cassino.</p>
                </div>
            </slide>
            <slide>
                <img src="assets/imgs/Home 3.jpg" alt="third slide" style="display: block;">
                <div class="carousel-caption d-none d-md-block">
                    <h3>Third slide label</h3>
                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                </div>
            </slide>
        </carousel>
    </div>
    <div id="hmc-Cards">
        <div id="hmcc-Poker">
            <div class="hmcc-Inside">
                <h3>Poker</h3>
                <div class="hmcci-Top">
                    <img src="assets/imgs/Poker.png" alt="Poker">
                </div>
                <div class="hmcci-Center">
                    <p>
                        Um jogo onde todo mundo é pau no cu,
                        e você provavelmente não entende porra
                        nenhuma das regras e vai perder.
                    </p>
                </div>
                <div class="hmcci-Bottom">
                    <button id="hmccp-Button" type="button" class="btn btn-primary" routerLink="poker">
                        Jogue Agora
                    </button>
                </div>
            </div>
        </div>
        <div id="hmcc-Slots">
            <div class="hmcc-Inside">
                <h3>Slots</h3>
                <div class="hmcci-Top">
                    <img src="assets/imgs/Slots.jpg" alt="Slots">
                </div>
                <div class="hmcci-Center">
                    <p>
                        Joguinho no qual se você
                        tem sorte você tem uma chance boa de quase
                        conseguir ganhar, ja se vc é azarado, passa longe disso
                        porque vicia.
                    </p>
                </div>
                <div class="hmcci-Bottom">
                    <button id="hmccp-Button" type="button" class="btn btn-primary" routerLink="login">
                        Jogue Agora
                    </button>
                </div>
            </div>
        </div>
        <div id="hmcc-Roleta">
            <div class="hmcc-Inside">
                <h3>Roleta</h3>
                <div class="hmcci-Top">
                    <img src="assets/imgs/Roleta.jpg" alt="Roleta">
                </div>
                <div class="hmcci-Center">
                    <p>
                        nesse jogo nem eu sei como funfa, quando eu souber eu atualizo vlw.
                    </p>
                </div>
                <div class="hmcci-Bottom">
                    <button id="hmccp-Button" type="button" class="btn btn-primary" routerLink="login">
                        Jogue Agora
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
