<div id="hm-Content">
    <div id="hmc-Carousel">
        <carousel>
            <slide>
              <img src="assets/imgs/illidan.png" alt="first slide" style="display: block;">
              <div class="carousel-caption d-none d-md-block">
                <h3>Regras</h3>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
              </div>
            </slide>
            <slide>
              <img src="assets/imgs/illidan.png" alt="second slide" style="display: block;">
              <div class="carousel-caption d-none d-md-block">
                <h3>Second slide label</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </div>
            </slide>
            <slide>
              <img src="assets/imgs/illidan.png" alt="third slide" style="display: block;">
              <div class="carousel-caption d-none d-md-block">
                <h3>Third slide label</h3>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
              </div>
            </slide>
          </carousel>
    </div>
    <div id="hmc-Cards">
        <div id="hmcc-Poker">
            <div id="hmccp-Inside">
                <div id="hmccpi-Top">
                    <img src="assets/imgs/Poker.png" alt="Poker">
                </div>
                <div id="hmccpi-Center">
                    <p>
                        Um jogo onde todo mundo é pau no cu,
                        e você provavelmente não entende porra
                        nenhuma das regras e vai perder.
                    </p>
                </div>
                <div id="hmccpi-Bottom">
                    <button id="hmccp-Button" type="button" class="btn btn-primary" routerLink="login">
                        Play
                    </button>
                </div>
            </div>
        </div>
        <div id="hmcc-Slots">
            <div id="hmccs-Inside">
                <div id="hmccpi-Top">
                    <img src="assets/imgs/Slots.jpg" alt="Slots">
                </div>
                <div id="hmccpi-Center">
                    <p>
                        Joguinho no qual se você
                        tem sorte você tem uma chance boa de quase
                        conseguir ganhar, ja se vc é azarado, passa longe disso
                        porque vicia.
                    </p>
                </div>
                <div id="hmccpi-Bottom">
                    <button id="hmccp-Button" type="button" class="btn btn-primary" routerLink="login">
                        Play
                    </button>
                </div>
            </div>
        </div>
        <div id="hmcc-Roleta">
            <div id="hmccr-Inside">
                <img src="" alt="Roleta">
            </div>
        </div>
    </div>
</div>
