<div id="l-Content">
    <div id="lc-Form">
        <h1>Login</h1>
        <label for="Username"><b>Nome de Usuario</b><br>
            <input id="Username" type="text" placeholder="Usuario">
        </label>
        <label for="Password"><b>Senha</b><br>
            <input id="Password" type="password" placeholder="******">
        </label>
        <button id="lcf-Login" type="button" class="btn btn-primary" routerLink="/home">
            Login
        </button>
        <button id="lcf-Cadastrar" type="button" class="btn btn-primary" routerLink="/cadastrar">
            Cadastrar-se
        </button>
    </div>
</div>